<div class="container">
    <p class="formTitle">Sign in</p>
    <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="eMail">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password">
        </div>
        <div class="btnContainer">
            <button type="submit">Sign in</button>
        </div>
    </form>
</div>